* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #e3e9f7;
    min-height: 100vh;
  }

  .header {
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: space-around;
    padding: 10px;
    
    
  }

  .header .nav {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .header .nav a{
    text-decoration: none;
  }

  .header .logOut-btn {
    background-color: #706EB6;
    padding: 8px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: 400;
  }

  .header .logOut-btn:hover {
    background-color: #545381;
  }

  .container {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .container .profil1 {
    display: flex;
    justify-content: space-between;
  }

  .container .profil1 h3,
  .container .profil2 h3 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }

  .container .profil1 h3 span,
  .container .profil2 h3 span {
    color: red;
  }


